.lead__subtitle {
  margin: 32px auto 64px;
  font-weight: normal;
  width: 640px;
  font-size: 1.875rem;
  line-height: 36px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    width: 68.966%;
    margin: 32px auto 56px;
  }
}
@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin: 16px auto 40px;
    width: 90%;
    font-size: 1rem;
    line-height: 1.25;
  }
}
