/*section {
  border: 1px solid blue;
}
div {
  border: 1px solid blue;
}
p {
  border: 1px solid yellowgreen;
}
a {
  border: 1px solid yellow;
}
h1,
h2,
h3,
h4,
h5 {
  border: 1px solid red;
}
img {
  border: 1px solid green;
}*/
