.lead__caption {
  margin: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
    font-size: 0.625rem;
    line-height: 1.4;
    letter-spacing: 0.09375rem;
  }
}
@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
    font-size: 0.625rem;
    line-height: 1.4;
    letter-spacing: 0.09375rem;
  }
}
