.header__lang-links {
  display: inline-flex;
  align-items: flex-end;
  list-style: none;
  text-decoration: none;
  margin-bottom: 6px;
}

@media screen and (max-width: 425px) {
  .header__lang-links {
    margin-bottom: 8px;
  }
}
